/* Start Variables */
:root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --main-transition: 0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --section-background: #ececec;  
}
::selection{
    background-color: var(--main-color);
    color: white;
}
/* End Variables */
/* Start Global Rules */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Cairo", sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 768px){
    .container{
        width: 750px;
    }
}

  /* Medium */
@media (min-width: 992px){
    .container{
        width: 970px;
    }
}

  /* Large */
@media (min-width: 1200px){
    .container{
        width: 1170px;
    }
}
/* End Global Rules */
/* Start Components */
.main-heading{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    border: 2px solid black;
    width: fit-content;
    margin: 0 auto;
    padding: 10px 20px;
    position: relative;
    margin: 0 auto 80px;
    transition: var(--main-transition);
    z-index: 1;
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.main-heading::before,
.main-heading::after{
    content: "";
    position: absolute;
    background-color: var(--main-color);
    border-radius: 50%;
    width: 12px;
    height: 12px;
    top: 50%;
    transform: translateY(-50%);
    transition: var(--main-transition);
}
.main-heading::before{
    left: -30px;
}
.main-heading::after{
    right: -30px;
}
.main-heading:hover::before{
    z-index: -1;
    animation: left-move .5s forwards;
}
.main-heading:hover::after{
    z-index: -1;
    animation: right-move .5s forwards;
}
.main-heading:hover{
    border-color: white;
    color: white;
    transition-delay: .5s;
}
/* 
  .main-heading:hover{
    border-color: transparent;
    color: white;
  }
  .main-heading:hover::before{
    content: "";
    position: absolute;
    background-color: var(--main-color);
    border-radius: 0;
    width: 50%;
    height: 100%;
    left: 0px;
    z-index: -1;
  }
  .main-heading:hover::after{
    content: "";
    position: absolute;
    background-color: var(--main-color);
    border-radius: 0;
    width: 50%;
    height: 100%;
    right: 0px;
    z-index: -1;
  } 
    Anther animation
*/
.dots{
    background-image: url(../imgs/dots.png);
    background-repeat: no-repeat;
    width: 204px;
    height: 186px;
    position: absolute;
    z-index: -1;
}
.dots.dots-up{
    top: 200px;
    right: 0px;
}
.dots.dots-down{
    bottom: 200px;
    left: 0px;
}  
/* End Components */
/* Start Animation */
@keyframes up-to-down {
    0%,100%{
        top: 0;
    }
    50%{
        top: -50px;
    }
}
@keyframes bouncing {
    0%, 10%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40%, 60% {
      transform: translateY(-15px);
    }
}
@keyframes left-move {
    50%{
      left: 0;
      width: 12px;
      height: 12px;
    }
    100%{
      left: 0;
      border-radius: 0;
      width: 50%;
      height: 100%;
    }
}
@keyframes right-move {
    50%{
      right: 0;
      width: 12px;
      height: 12px;
    }
    100%{
      right: 0;
      border-radius: 0;
      width: 50%;
      height: 100%;
    }
}
@keyframes moving-arrow {
    0%,100%{
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
    50%{
        transform: translateX(10px);
        -webkit-transform: translateX(10px);
        -moz-transform: translateX(10px);
        -ms-transform: translateX(10px);
        -o-transform: translateX(10px);
    }
}
@keyframes flashing {
    0% , 40%{
        opacity: 1;
    }
    100%{
        width: 200%;
        height: 200%;
        opacity: 0;
    }
}
@keyframes change-back {
    0% ,100%{
        background-image:linear-gradient(rgb(23 135 224 / 97%) , rgb(23 135 224 / 97%)) , url(../imgs/discount-background1.jpg);
    }
    50%{
        background-image:linear-gradient(rgb(23 135 224 / 97%) , rgb(23 135 224 / 97%)) , url(../imgs/discount-background2.jpg);
    }
}
/* End Animation */
/* Start Header */
header{
    position: relative;
    background-color: white;
    box-shadow: 0 0 10px #ddd;
}
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
}
header .container .logo{
    height: 72px;
    color: var(--main-color);
    font-weight: bold;
    font-size: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
}
header .container .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .container .nav > li > a{
    color: black;
    padding: 0 30px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: var(--main-transition);
    font-size: 18px;
    overflow: hidden;
}
header .container .nav > li > a::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    background-color: #1787e0;
    height: 4px;
    transition: var(--main-transition);
}
header .container .nav > li > a:hover{
    color: var(--main-color);
    background-color: #fafafa;
}
header .container .nav > li > a:hover::before{
    width: 100%;
}
header .container .nav > li:hover .mega-menu{
    opacity: 1;
    z-index: 1;
    top: calc(100% + 1px);
}
header .container .nav .mega-menu{
    width: 100%;
    position: absolute;
    top: calc(100% + 50px);
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    gap: 40px;
    opacity: 0;
    z-index: -1;
    border-bottom: 3px solid var(--main-color);
    background-color: white;
    transition: var(--main-transition);
}
header .container .nav .mega-menu .image img{
    max-width: 100%;
}
header .container .nav .mega-menu .links{
    min-width: 250px;
    flex: 1;
}
header .container .nav .mega-menu .links li:not(:last-child){
    border-bottom: 1px solid #e9e6e6;
}
header .container .nav .mega-menu .links li a{
    color: var(--main-color);
    padding: 15px;
    display: block;
    font-size: 18px;
    font-weight: bold;
    position: relative;
}
header .container .nav .mega-menu .links li a::before{
    content: "";
    position: absolute;
    background-color: #fafafa;
    left: 0;
    top: 0;
    width: 0%;
    height: 100%;
    z-index: -2;
    transition: var(--main-transition);
}
header .container .nav .mega-menu .links li a:hover::before{
    width: 100%;
}
header .container .nav .mega-menu .links li a i{
    margin-right: 10px;
}
@media (max-width: 991px) {
    header .container .nav .mega-menu .image{
      display: none;
    }
}
@media (max-width: 767px) {
    header .container .logo{
      width: 100%;
      height: 50px;
    }
    header .container .nav{
      margin: auto;
    }
    header .container .nav > li > a{
      padding: 10px;
      font-size: 14px;
      height: 40px;
    }
    header .container .nav .mega-menu{
      flex-direction: column;
      gap: 0;
      padding: 5px;
    }
    header .container .nav .mega-menu .links{
      width: 100%;
    }
}
/* End Header */
/* Start Landing */
.landing{
    position: relative;
}
.landing::before {
    content: "";
    position: absolute;
    left: 0;
    top: -40px;
    width: 100%;
    height: 100%;
    background-color: #ececec;
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;
}
.landing .container{
    min-height: calc(100vh - 72px);
    display: flex;
    align-items: center;
    padding-bottom: 120px;
}
  .landing .container .info{
    flex: 1;
}
  .landing .container .info h1{
    font-size: 40px;
    letter-spacing: -2px;
    margin: 0;
}
  .landing .container .info p{
    font-size: 23px;
    line-height: 1.7;
    margin: 5px 0 0;
    color: #666;
    max-width: 500px; 
}
.landing .container img{
    width: 500px;
    position: relative;
    animation: up-to-down 5s linear infinite;
}
.landing .go-down{
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    color: var(--main-color);
    transition: var(--main-transition);
}
.landing .go-down:hover{
    color: var(--main-color-alt); 
}
.landing .go-down i{
    animation: bouncing 1.5s infinite;
}
@media (max-width: 992px) {
    .landing .container img{
      display: none;
    }
    .landing .container .info{  
      text-align: center;
    }
  
    .landing .container .info p{
      margin: 10px auto;
    }
}
@media (max-width: 767px) {
    .landing .container .info h1 {
        font-size: 28px;
    }
    .landing .container .info p {
      font-size: 18px;
    }
}
/* End Landing */
/* Start Articles */
.articles{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}
.articles .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}
.articles .container .box{
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    background-color: white;
    overflow: hidden;
    border-radius: 97% 3% 96% 4% / 4% 96% 4% 96%;
    -webkit-border-radius: 97% 3% 96% 4% / 4% 96% 4% 96%;
    -moz-border-radius: 97% 3% 96% 4% / 4% 96% 4% 96%;
    -ms-border-radius: 97% 3% 96% 4% / 4% 96% 4% 96%;
    -o-border-radius: 97% 3% 96% 4% / 4% 96% 4% 96%;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.articles .container .box:hover{
    box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}
.articles .container .box img{
    max-width: 100%;
}
.articles .container .box .text{
    padding: 20px;
    background-color: white;
}
.articles .container .box .text h3{
    margin: 0;
}
.articles .container .box .text p{
    margin: 10px 0 0;
    color: #777;
    line-height: 1.5;
}
.articles .container .box .info{
    padding: 20px;
    border-top: 1px solid #ececec;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.articles .container .box .info a{
    display: block;
    color: var(--main-color);
    font-weight: bold;
}
.articles .container .box .info i{
    color: var(--main-color);
}
.articles .container .box:hover .info i{
    animation: moving-arrow 0.6s linear infinite;
    -webkit-animation: moving-arrow 0.6s linear infinite;
}
/* End Articles */
.spikes{
    position: relative;
}
.spikes::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 30px;
    right: 0;
    background-image: linear-gradient(135deg, white 25%, transparent 25%) , linear-gradient(225deg, white 25%, transparent 25%);
    background-size: 30px 30px;
    z-index: 1;
}
/* Start Gallery*/
.gallery{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--section-background);
}
.gallery .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px , 1fr));
    gap: 40px;
}
.gallery .container .box{
    padding: 15px;
    background-color: white;
    box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%),
                0px 2px 4px 0px rgb(0 0 0 / 12%);
}
.gallery .container .box:hover .image img{
    transform: rotate(6deg) scale(1.2);
    -webkit-transform: rotate(6deg) scale(1.2);
    -moz-transform: rotate(6deg) scale(1.2);
    -ms-transform: rotate(6deg) scale(1.2);
    -o-transform: rotate(6deg) scale(1.2);
}
.gallery .container .box .image{
    position: relative;
    overflow: hidden;
}
.gallery .container .box .image::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
    width: 0;
    height: 0;
    background-color: rgb(255 255 255 / 20%);
    opacity: 0;
    z-index: 2;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.gallery .container .box .image:hover::before{
    animation: flashing 0.7s;
    -webkit-animation: flashing 0.7s;
}
.gallery .container .box .image img{
    max-width: 100%;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
/* End Gallery*/
.spikes2{
    position: relative;
}
.spikes2::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 30px;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(45deg, white 25%, transparent 25%), linear-gradient(315deg, white 25%, transparent 25%);
    background-size: 30px 30px;
    z-index: 1;
}
/* Start Features */
.features{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}
.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px , 1fr));
    gap: 40px;
}
.features .container .box{
    text-align: center;
    border: 1px solid #ccc;
    overflow: hidden;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.features .container .box:hover .image::after{
    border-width: 170px 700px 170px 0px;
}
.features .container .box .image{
    position: relative;
    overflow: hidden;
}
.features .container .box .image::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: -2px;
    left: 0;
}
.features .container .box.quality .image::before{
    background-color: rgb(244 64 54 / 60%);
}
.features .container .box.time .image::before{
    background-color: rgb(0 150 136 / 60%);
}
.features .container .box.passion .image::before{
    background-color: rgb(3 169 244 / 60%);
}
.features .container .box .image::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-width: 0px 0px 170px 700px;
    border-color: transparent transparent white transparent;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.features .container .box .image img{
    max-width: 100%;
}
.features .container .box h2{
    position: relative;
    font-size: 40px;
    margin: auto;
    width: fit-content;
}
.features .container .box h2::after{
    content: "";
    position: absolute;
    bottom: -15px;
    left: 15px;
    width: calc(100% - 30px);
    height: 5px;
}
.features .container .box.quality h2::after{
    background-color: #f44036;
}
.features .container .box.time h2::after{
    background-color: #009688;
}
.features .container .box.passion h2::after{
    background-color: #03a9f4;
}
.features .container .box p{
    color: #777;
    font-size: 20px;
    line-height: 2;
    margin: 30px 0;
    padding: 25px;
}
.features .container .box a{
    display: block;
    border: 3px solid transparent;
    width: fit-content;
    padding: 10px 30px;
    margin: 0 auto 30px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.features .container .box.quality a{
    color: #f44036;
    border-color: #f44036;
    background: linear-gradient(to right , #f44036 50% , white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}
.features .container .box.time a{
    color: #009688;
    border-color: #009688;
    background: linear-gradient(to right , #009688 50% , white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}
.features .container .box.passion a{
    color: #03a9f4;
    border-color: #03a9f4;
    background: linear-gradient(to right , #03a9f4 50% , white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}
.features .container .box:hover a{
    background-position: left bottom;
    color: white;
}
/* End Features */
/* Start testimonials */
.testimonials{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--section-background);
}
.testimonials .container{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 40px;
}
.testimonials .container .box{
    position: relative;
    background-color: white;
    box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
    padding: 20px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.testimonials .container .box img{
    position: absolute;
    top: -50px;
    right: -10px;
    width: 100px;
    height: 100px;
    border: 10px solid var(--section-background);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.testimonials .container .box h3{
    margin: 0 0 10px;
}
.testimonials .container .box span{
    display: block;
    margin-bottom: 10px;
    color: #777;
}
.testimonials .container .box .rate i.filled{
    color: #ffc107;
}
.testimonials .container .box p{
    line-height: 1.5;
    color: #777;
    margin-top: 10px;
}
/* Start testimonials */
/* Start Team Members */
.team{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}
.team .container{
    display: grid;
    grid-template-columns: repeat( auto-fill , minmax(300px , 1fr));
    gap: 30px;
}
.team .container .box{
    position: relative;
}
.team .container .box:before,
.team .container .box::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 0;
    right: 0;
    top: 0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.team .container .box:before{
    background-color: #f3f3f3;
    width: calc(100% - 60px);
    z-index: -2;
}
.team .container .box::after{
    z-index: -1;
    background-color: #e4e4e4;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.team .container .box:hover::after{
    width: calc(100% - 60px);
}
.team .container .box .data{
    display: flex;
    align-items: center;
    padding-top: 60px;
}
.team .container .box .data img{
    width: calc(100% - 60px);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.team .container .box:hover .data img{
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}
.team .container .box .data .social{
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.team .container .box .data .social a{
    width: 60px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.team .container .box .data .social i{
    color: #777;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.team .container .box .data .social i:hover{
    color: var(--main-color);
}
.team .container .box .info{
    padding-left: 80px;
}
.team .container .box .info h3{
    margin-top: 22px;
    font-size: 22px;
    color: var(--main-color);
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}   
.team .container .box:hover .info h3{
    color: #777;
}   
.team .container .box .info p{
    margin-top: 10px;
    margin-bottom: 25px;
}   
/* End Team Members */
/* Start Services */
.services{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--section-background);
}
.services .container{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 40px;
}
.services .container .card{
    background-color: white;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%),
                0 2px 4px 0 rgb(0 0 0 / 12%);
    text-align: center;
    counter-increment: services;
    position: relative;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.services .container .card:hover{
    transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
}
.services .container .card::before{
    content: "";
    position: absolute;
    background-color: var(--main-color);
    width: 0;
    height: 3px;
    top: -3px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.services .container .card:hover::before{
    width: 100%;
}
.services .container .card i{
    display: block;
    margin: 30px 0 20px;
    color: #d5d5d5;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.services .container .card:hover i{
    color: var(--main-color);
}
.services .container .card h3{
    color: var(--main-color);
    font-weight: bold;
    font-size: 25px;
    margin: 20px 0 40px;
}
.services .container .card .info{
    background-color: #f9f9f9;
    text-align: right;
    padding: 15px;
    position: relative;
}
.services .container .card .info::before{
    content: "0" counter(services);
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 80px;
    background-color: var(--main-color);
    color: white;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 15px;
}
.services .container .card .info::after{
    content: "";
    position: absolute;
    left: 80px;
    top: 0;
    height: 100%;
    width: 50px;
    background-color: #d5d5d5;
    transform: skew(-30deg);
    -webkit-transform: skew(-30deg);
    -moz-transform: skew(-30deg);
    -ms-transform: skew(-30deg);
    -o-transform: skew(-30deg);
}
.services .container .card .info a{
    display: block;
    color: var(--main-color);
}

/* End Services */
/* Start Our Skills */
.our-skills{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}
.our-skills .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.our-skills .container img{
    max-width: 500px;
    margin-right: 50px;
}
@media (max-width: 992px) {
    .our-skills .container img{
        display: none;
    }
}
.our-skills .container .skills-bar{
    flex: 1;
}
.our-skills .container .skills-bar .skill h3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 18px 0;
}
.our-skills .container .skills-bar .skill h3 span{
    color: #2196f3;
    border: 1px solid #ccc;
    padding: 3px 5px;
    font-size: 12px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.our-skills .container .skills-bar .skill .the-progress{
    position: relative; 
    height: 30px;
    background-color: #eee;
}
.our-skills .container .skills-bar .skill .the-progress span{
    background-color: #2196f3;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
/* End Our Skills */
/* Start Work Steps */
.work-steps{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--section-background);
}
.work-steps .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.work-steps .container img{
    width: 500px;
    margin-right: 100px;
}
.work-steps .container .content .box{
    background-color: #f6f5f5;
    border: 2px solid white;
    position: relative;
    padding: 30px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    z-index: 1;
}
.work-steps .container .content .box::before{
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    background-color: #ededed;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.work-steps .container .content .box:hover::before{
    height: 100%;
    width: 100%;
}
.work-steps .container .content .box img{
    width: 64px;
    margin-right: 30px;
}
.work-steps .container .content .box .info h3{
    margin: 0;
    font-size: 22px;
}
.work-steps .container .content .box .info p{
    color: #777;
    line-height: 1.7;
    margin: 10px 0 0;
    font-size: 18px;
}
@media (max-width: 992px) {
    .work-steps .container{
        flex-direction: column;
    }

    .work-steps .container img{
        margin-right: 0;
    }
}
@media (max-width: 767px) {
    .work-steps .container .content .box{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .work-steps .container .content .box img{
        margin: 0 0 30px;
    }
}
@media (max-width: 520px) {
    .work-steps .container img{
        width: 300px;
    }
}
/* End Work Steps */
/* Start Events */
.events{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    z-index: 1;
}
.events .container{
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}
.events .container img{
    max-width: 450px;
}
@media (max-width: 992px) {
    .events .container img{
        display: none;
    }
}
.events .container .info{
    flex: 1;
}
.events .container .info .time{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 20px auto;
}
.events .container .info .time .unit{
    border: 1px solid #d4d4d4;
    width: 75px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.events .container .info .time .unit span:nth-child(1){ 
    display: block;
    color: var(--main-color);
    font-size: 35px;
    font-weight: bold;
    padding: 15px;
}
.events .container .info .time .unit span:nth-child(2){ 
    display: block;
    padding: 8px 10px;
    border-top: 1px solid #d4d4d4;
    font-size: 13px;
}
.events .container .info h2{ 
    font-size: 30px;
    margin: 40px 0 0;
}
.events .container .info p{ 
    color: #777;
    line-height: 1.7;
    font-size: 19px;
    margin: 20px auto;
}
.events .container .subscribe{ 
    margin-top: 50px;
    width: 100%;
    text-align: center;
}
.events .container .subscribe form{
    width: 600px;
    background-color: #f6f5f5;
    display: flex;
    margin: 20px auto;
    padding: 30px 40px;
    gap: 20px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.events .container .subscribe form input:first-child{
    padding: 20px;
    border: none;
    flex: 1;
    caret-color: var(--main-color);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.events .container .subscribe form input:first-child:focus{
    outline: none;
}
.events .container .subscribe form input:first-child:focus::placeholder{
    opacity: 0;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.events .container .subscribe form input:last-child{
    border: none;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.events .container .subscribe form input:last-child:hover{ 
    background-color: var(--main-color-alt);
}
@media (max-width: 767px) {
    .events .container .subscribe form{
        max-width: 100%;
        padding: 20px;
        flex-direction: column;
        border-radius: 0;
    }
    /* Here max-width is must to margin auto work */
    .events .container .subscribe form input:first-child{
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }
    .events .container .subscribe form input:last-child{
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }
}
/* End Events */
/* Start Pricing */
.pricing{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--section-background);
    position: relative;
    z-index: 1;
}
.pricing .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px , 1fr));
    gap: 30px;
}
.pricing .container .card{
    background-color: white;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%),
                0 2px 4px 0 rgb(0 0 0 / 12%);
    position: relative;
    z-index: 1;
}
.pricing .container .card::before,
.pricing .container .card::after{
    content: "";
    width: 0;
    height: 50%;
    background-color: #f6f6f6;
    position: absolute;
    z-index: -1;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.pricing .container .card::before{
    top: 0;
    left: 0;
}
.pricing .container .card::after{
    bottom: 0;
    right: 0;
}
.pricing .container .card:hover::before,
.pricing .container .card:hover::after{
    width: 100%;
}
.pricing .container .card .title{
    text-align: center;
    font-size: 25px;
    letter-spacing: -1px;
    margin: 30px 0;
}
.pricing .container .card img{
    width: 80px;
    display: block;
    margin: 0 auto 30px;
}
.pricing .container .card .price{
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    color: var(--main-color);
    margin-bottom: 20px;
}
.pricing .container .card .price span{
    display: block;
    color: #777;
    font-size: 16px;
    font-weight: normal;
    margin-top: 5px;
}
.pricing .container .card ul li{
    position: relative;
    padding: 20px;
    border-top: 1px solid #eee;
}
.pricing .container .card ul li::before{
    content: "\f00c";
    font-family: "Font Awesome 5 Free"; /* must use */
    font-weight: 900; /* must use */
    margin-right: 10px;
    color: var(--main-color);
}
.pricing .container .card a{
    display: block;
    width: fit-content;
    margin: 30px auto;
    padding: 15px 20px;
    color: var(--main-color);
    font-weight: bold;
    border: 2px solid var(--main-color);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.pricing .container .card a:hover{
    background-color: var(--main-color);
    color: white;
}
.pricing .container .card .label{
    writing-mode: vertical-rl;
    position: absolute;
    right: 20px;
    width: 40px;
    padding: 10px 10px 35px 10px;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    font-size: 18px;
}
.pricing .container .card .label::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    border-width: 20px;
    border-style: solid;
    border-color: transparent transparent white transparent;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
@media (min-width: 1200px) {
    .pricing .container .card.middle{
        top: -20px;
        /* not margin-top */
    }  
}
/* End Pricing */
/* Start Video */
.video{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}
.video .holder{
    display: flex;
    justify-content: space-between;
    border: 1px solid #ddd;
}
.video .holder .list{
    min-width: 300px;
    background-color: white;
}
.video .holder .list .title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f4f4f4;
    padding: 20px;
    font-weight: bold;
}
.video .holder .list ul li{
    padding: 20px;
    border-top: 1px solid var(--section-background);
    cursor: pointer;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.video .holder .list ul li:hover{
    color: var(--main-color);
    background-color: var(--section-background);
}
.video .holder .list ul li span{
    display: block;
    color: #777;
    margin-top: 10px;
}
.video .holder .preview{
    padding: 10px;
    background-color: #e2e2e2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.video .holder .preview img{
    max-width: 100%;
}
.video .holder .preview .preview-dec{
    background-color: white;
    padding: 20px;
    margin-top: 10px;
}
@media (max-width: 992px) {
    .video .holder{
        flex-direction: column;
    }
    .video .holder .list ul{
        width: 100%;
    }
}
/* End Video */
/* Start Stats */
.stats{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-image: linear-gradient(rgb(255 255 255 / 95%) , rgb(255 255 255 / 95%)) , url(../imgs/stats.jpg);
}
.stats h2{
    position: relative;
    width: fit-content;
    margin: 0 auto 50px;
    font-size: 40px;
    font-weight: bold;
}
.stats .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px , 1fr));
    gap: 40px;
}
.stats .container .box{
    background-color: white;
    text-align: center;
    padding: 30px 15px;
    opacity: 0.7;
    position: relative;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.stats .container .box:hover{
    opacity: 1;
}
.stats .container .box::before,
.stats .container .box::after{
    content: "";
    position: absolute;
    height: 0;
    width: 3px;
    background-color: var(--main-color);
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.stats .container .box::before{
    bottom: 0;
    left: 0;
}
.stats .container .box::after{
    top: 0;
    right: 0;
}
.stats .container .box:hover:before,
.stats .container .box:hover:after{
    height: 100%;
}
.stats .container .box span:nth-child(2){
    display: block;
    font-size: 50px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}
.stats .container .box span:nth-child(3){
    display: block;
    color: var(--main-color);
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
}
/* End Stats */
/* Start Discount */
.discount{
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
}
.discount .have-dis{
    flex-basis: 50%;
    background-image:linear-gradient(rgb(23 135 224 / 97%) , rgb(23 135 224 / 97%)) , url(../imgs/discount-background1.jpg);
    background-size: cover;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: change-back 10s linear infinite;
    -webkit-animation: change-back 10s linear infinite;
}
.discount .have-dis h2,
.discount .request-dis h2{
    font-size: 40px;
    letter-spacing: -2px;
    margin: 34px auto;
}
.discount .have-dis p{
    line-height: 1.6;
    font-size: 18px;
    max-width: 500px;
    margin: 18px auto;
}
.discount .have-dis img{
    width: 300px;
    max-width: 100%;
}
.discount .request-dis{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.discount .request-dis form{
    width: 310px;
}
.discount .request-dis form input,
.discount .request-dis form textarea{
    display: block;
    width: 100%;
    margin-bottom: 25px;
    padding: 15px;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: #f9f9f9;
    caret-color: var(--main-color);
}
.discount .request-dis form input:focus,
.discount .request-dis form textarea:focus{
    outline: none;
}
.discount .request-dis form textarea{
    resize: none; /* This So Important */
    height: 200px;
}
.discount .request-dis form input[type="submit"]{
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.discount .request-dis form input[type="submit"]:hover{
    background-color: var(--main-color-alt);
}
@media (max-width: 992px) {
    .discount{
        flex-direction: column;
    }
    .discount .have-dis,
    .discount .request-dis{
        flex-basis: 100%;
    }
}
/* End Discount */
/* Start Footer */
footer{
    padding: 70px 0 0;
    background-color: #191919;
}
footer .container{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(250px , 1fr));
    gap: 40px;
}
footer .container .col-1 .logo{
    color: white;
    font-size: 50px;
    margin: 0 0 20px;
}
footer .container .col-1 .social a{
    background-color: #313131;
    color: #b9b9b9;
    display: inline-flex;
    margin-right: 10px;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
footer .container .col-1 .social a:hover:nth-child(1){
    background-color: #1877f2;
}
footer .container .col-1 .social a:hover:nth-child(2){
    background-color: #1da1f2;
}
footer .container .col-1 .social a:hover:nth-child(3){
    background-color: #ff0000;
}
footer .container .col-1 p{
    line-height: 2;
    color: #b9b9b9;
    margin: 16px auto;
}
footer .container .col-2 ul li{
    padding: 15px 0;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
footer .container .col-2 ul li:not(:last-child){
    border-bottom: 1px solid #444;
}
footer .container .col-2 ul li a{
    color: #b9b9b9;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
footer .container .col-2 ul li a::before {
    font-family: "Font Awesome 5 Free";
    content: "\F101";
    font-weight: 900;
    margin-right: 10px;
    color: var(--main-color);
}
footer .container .col-2 ul li:hover{
    padding-left: 10px;
}
footer .container .col-2 ul li:hover a{
    color: white;
}
footer .container .col-3 .address .line{
    display: flex;
    align-items: center;
    color: #b9b9b9;
    margin-bottom: 30px;
}
footer .container .col-3 .address .line i{
    font-size: 25px;
    color: var(--main-color);
    margin-right: 10px;
}
footer .container .col-3 .address .line .info{
    line-height: 1.7;
    flex: 1;
}
footer .container .col-4{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(70px , 1fr));
    gap: 10px;
    align-content: start;
}
footer .container .col-4 img{
    max-width: 100%;
    border: 3px solid white;
    margin: 2px;
}
@media (max-width: 767px) {
    footer .container .col-1,
    footer .container .col-2{
        text-align: center;
    }
    footer .container .col-1 .social{
        justify-content: center;
    }
    footer .container .col-3 .address .line{
        flex-direction: column;
    }
    footer .container .col-3 .address .line i{
        margin: 0 0 10px;
    }
    footer .container .col-3 .address .line .info{
        width: 100%;
        text-align: center;
    }
    footer .container .col-4{
        grid-template-columns: repeat(auto-fill, minmax(80px , 1fr));
    }
}
footer .copyright{
    color: white;
    text-align: center;
    border-top: 1px solid #444;
    padding: 25px 0;
    margin: 50px 0 0;
}
/* End Footer */